<%- include('Navbar'); %>
    <div class="howto">

        <div class="top">
            <p>What is</p>
        <img class="aimg" src="/texts/About.png">
        </div>
        
        <div class="feat">
            <img class="aimg" src="/about/1.png">
        </div>
        
        <p>
            <b>What is Code?</b>
            <br>
            <br>
Code Fresh Apparel is a young clothing brand based in Cebu, the Queen City of the South.<br>
Established in April 2019. Code Fresh Apparel has complex designs, some are simple and minimal but other designs are vibrant and catch the eyes of people.<br> Code is a lifestyle clothing brand where there is no bias on who wears it, just feel good and eventually you’ll look good.<br> Look good on the streets, clubs, malls, wherever, just stick with the Code.
 </p>
<br><br><br>
<div class="feat">
            <img class="aimg" src="/about/2.png">
        </div>
<p>
<b>Our Story</b>
<br>
<br>
Established in 2019, initiated by Joshua Laroa with his partner Rj Fajardo.<br>
Two college students with a vision to make a name in the local scene of Cebu City.<br>
They decided to make a clothing brand that has good quality shirts with affordable prices. <br>
The first shirts of Code were sold in University of San Carlos - Talamban Campus, Cebu.<br>
And then later expanded to the City scene and the southside of Cebu. <br>
<br>
And they are not stopping.
<br>
<br>
<br>
 </p>
<div class="feat">
            <img class="aimg" src="/about/3.png">
        </div>
<p>
<b>What's the Goal?</b>
<br><br>
Code Fresh Apparel’s goal is to expand internationally, but as of now shirts are sold nationwide. <br>
Building a Flagship store at the heart of Cebu City is one of the goals of Code. <br>A flagship store where anyone can enjoy and relax. Where they can talk and make new colleagues.

        </p>
        
    </div>
    <%- include('Footer'); %>

<style scoped>
    .top{
        margin-top: 30px;
    }

    .top p{
        font-size: 20px;
    }

    .top img{
        margin-top: -30px;
    margin-bottom: 30px;
        padding-bottom: 25px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 25%;

    }

    .feat img{

    margin-bottom: -10px;
        padding-bottom: 25px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    .aimg{
    margin-top: -30px;
    margin-bottom: 30px;
        padding-bottom: 25px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 15%;
    }

    p{
        text-align: center;
         padding-bottom: 25px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 65%;
    }

    

</style>
