
    <div class="admin">
        <!-- Sidebar -->
        <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
            <h3 class="w3-bar-item">Menu</h3>
            <a href="/admin" class="w3-bar-item w3-button">Stats</a><br>
            <a href="/admin/products" class="w3-bar-item w3-button">Products</a><br>
            <a href="/admin/home" class="w3-bar-item w3-button">Home</a><br>
            <a href="/admin/orders" class="w3-bar-item w3-button">Orders</a><br>
        </div>

        <!-- Page Content -->
        <div style="margin-left:25%">
                <h1>STATS</h1>
        </div>
    </div>

<script>
</script>

<style>
</style>