<%- include('Navbar'); %>
<div class="after">
    <img class="coverimg" src="/headers/afterHead.png">
    <p>Thank You for purchasing!</b><br></b></p>
</div>
<%- include('Footer'); %>
<style>
    .after{
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        width: 50%;
        padding: 10px;
        text-align: center;
    }
    .coverimg{
          padding-bottom: 25px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 58%;
    }
</style>