<%- include('Navbar'); %>
    <div class="howto">
        
        <img class="cimg" src="/texts/Contact.png">
        
        <p>
            <b>GreyCamp Flagship</b><br><br>
            Address: F. Jaca Street, Inayawan, Cebu, Philippines
            <br>
            In front of Flying V
            <br>
            Contact No.: 0917 - XXX - XXXX
            <br>
            <br>
            <br>
            <br>
           <b> Mobile for Code</b><br><br>
            0917 - 163 - 7474
            <br>
            <br>
            <br>
            <br>
            <b>Social Media Accounts</b>
            <br><br>
        
            Facebook: facebook.com/code.freshapparel
            <br>
            Instagram: @code.freshapparel
        </p>
        
    </div>
    <%- include('Footer'); %>
<style scoped>

    .cimg{
        margin-top: 30px;
        margin-bottom: 30px;
        padding-bottom: 25px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 15%;
    }

    p{
         padding-bottom: 25px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 65%;
    }

    

</style>
