<%- include('Navbar'); %>
    <div class="howto">
      
        <img class="coverimg" src="/headers/howtoHead.png">
        <p>Instructions:
                <br><br>
            - Go to SHOP section to browse all the products available at our online shop
<br><br>
            - ADD TO CART the product/s that you wish to buy
<br><br>
            - If you are satisfied with your order/s and wish to check out, just click the cart icon at the top right corner and proceed to CHECKOUT
<br><br>
            - Input your email address, phone number and location for the delivery
<br><br>
            - Click CONFIRM if you are done filling up the required fields 
<br><br>
            - You will receive a text message that confirms your order

<br><br><br><br>
            PAYMENT DETAILS
            <br><br>
            - BPI
<br><br>
             ACCOUNT NAME: JOSHUA L. LAROA
            <br>
             ACCOUNT NUMBER: 9799267613
        </p>
    </div>

    <%- include('Footer'); %>
<style scoped>

    .howto{
        padding-bottom: -50px;
    }
    .himg{
        padding-bottom: 25px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 20%;
    }

    p{
         padding-bottom: 25px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 65%;
    }

    
    .coverimg{
          padding-bottom: 25px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 68%;
    }
</style>
