<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>This is the Login page</h1>
    here are the links to the pages

    <form action="/home">
      <p class="h4 text-center mb-4">Sign in</p>
      <label for="defaultFormLoginEmailEx" class="grey-text">Your email</label>
      <input id="defaultFormLoginEmailEx" class="form-control"/>
      <br/>
      <label for="defaultFormLoginPasswordEx" class="grey-text">Your password</label>
      <input type="password" id="defaultFormLoginPasswordEx" class="form-control"/>
      <div class="text-center mt-4">
        <button type="submit">Login</button>
    
    </form>

    <h5>No account yet? <a href="/register">register here</a></h2>
</body>
</html>