

    <div class="hello">
      <!-- Just an image -->
          <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
              <div class="container">
                  <a href="home" class="nav-link">
                  <img  src="/logo.png">
                  </a>
              </div>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                  <li class="nav-item">
                  <a href="/home" class="nav-link">Home</a>
                  </li>
                  <li class="nav-item">
                  <a href="/shop" class="nav-link">Shop</a>
                  </li>
                  <li class="nav-item">
                  <a href="/howtoorder" class="nav-link">How To Order</a>
                  </li>
                  <li class="nav-item">
                  <a href="/sizechart" class="nav-link">Size Chart</a>
                  </li>
                  <li class="nav-item">
                  <a href="/contactus" class="nav-link">Contact Us</a>
                  </li>
                </li>
                <li class="nav-item">
                <a href="/aboutus" class="nav-link">About Us</a>
                </li>
              </ul>
              </div>
              <div class="container-icons">
                <a href="/profile" class="nav-link">
                <img src="/icons/profile.png">
                </a>
              </div>
                <div class="container-icons">
                  <a href="/cart" class="nav-link">
                  <img src="/icons/cart.png">
                  </a>
                </div>
          </div>
          </nav>
    </div>

  
  <!-- Add "scoped" attribute to limit CSS to this component only -->
  <style scoped>
      .hello{
          margin-left: 20px;
          margin-right: 20px;
      }
      .nav-item{
          margin-left: 30px;
      }
      .container{
          margin-left: 0px;
          padding-left: 0px;
          width: auto;
      }
      .container img{
          width: 100%;
          height: auto;
      }
      .container-icons img{
          width: 100%;
          height: auto;
      }
      .container-fluid button{
          margin: 10px;
      }

  </style>
  