<%- include('Navbar'); %>
    <div class="shop">
      
        <img class="coverimg" src="/headers/shopHead.png">
        
        <div class="all-products">
            <%- include('AllProducts'); %>
        </div>
        
    </div>
        
    <%- include('Footer'); %>
    <style scoped>
        .shop{
            margin-top: 40px;
            padding-bottom: 50px;
        }
    
        .coverimg{
          padding-bottom: 25px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 78%;
        }
    
    </style>
    
    