<%- include('Navbar'); %>
    <div class="size">
        <img class="simg" src="/texts/Size.png">
        <div class="sizes">
            <img class="simg" src="/sizes/hoodieSize.png">
            <img class="simg" src="/sizes/shirtSize.png">
        </div>
        <h5>INSTRUCTIONS:</h5>
        <br>
        <br>
        <p>
            Wash and dry inside-out <br><br> Cold Wash or do not exceed 30c <br><br> No bleach. No tumble dry in hot air <br><br> Dry in the shade.
        </p>
    </div>

    <%- include('Footer'); %>
<style scoped>

    .howto{
        padding-bottom: -50px;
    }
    .simg{
        margin-top: 30px;
        padding-bottom: 25px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 15%;
    }

    .sizes img{
      
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      margin-bottom:20px;
    }

    p{
    
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 45%;
    }

    h5{
        text-align: center;
    }
    

</style>
